.OGA{
	width:550px;
	height: 450px;
	background-color: hsl(0, 0%, 100%);
	display: flex;
	margin-left: 27%;
	margin-top: 9%;
	margin-bottom: 15px;
	border-radius: 10px;
}
img{
	width: 275px;
	height: 450px;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
}
body{
	background-color: hsl(30, 38%, 92%);
	font-size: 14px;
}
p{
	font-family: 'montserrat';
	line-height: 25px;
	margin-left: 30px;
	color: hsl(228, 12%, 48%);
	margin-top: 20px;
	margin-right: 30px;
}
span{
	color: hsl(158, 36%, 37%);
	font-family: 'fraunces';
	font-size: 35px;
	margin-top: 0px;
}
h1{
	padding-left: 30px;
	padding-right: 35px;
	font-family: 'fraunces';
	margin-top: 0px;
}
button{
	background-color: hsl(158, 36%, 37%);
	margin-left: 30px;
	margin-top: 20px;
	padding: 12px 60px;
	border-radius: 10px;
	color: hsl(0, 0%, 100%);
}
.firstp{
	margin-bottom: 0px;
}